# Requirements mainly for Django, DRF, and pydantic.
# Other packages required mainly for testing or documentation.

Django
djangorestframework
pydantic
typing
typing_extensions
pytest
coverage
sphinx
sphinx-rtd-theme
